<!DOCTYPE html>
<html lang="pt">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Ttitulo janota{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/uteis.js') }}"></script>
	</head>
	<body>
        <header>
    <div class="cxFlex80">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logótipo" id="logo">
        <p id="slogan">Projeto Camalheia :: viaje pelo mundo ficando alojado na... cama alheia</p>

        <!-- Aqui entrará o form de login -->
    </div>
</header>

        <section id="cxsite">
            <nav>
                <a href="index.php">home</a>
                <a href="inserir.php">adicionar</a>
                <a href="atualizar1.php">atualizar</a>
                <a href="eliminar.php">eliminar</a>
                <form action="res_pesquisa.php" method="POST">
                    <input type="text" name="fpesq" required>
                    <input type="submit" value="Pesquisar" class="perSubmits2">
                </form>
            </nav>
            <br><br>
            <p class="intro">Um homem precisa viajar. Por sua conta, não por meio de histórias, imagens, livros ou TV. Precisa viajar por si, com seus olhos e pés, para entender o que é seu. Para um dia plantar as suas próprias árvores e dar-lhes valor. Conhecer o frio para desfrutar o calor. E o oposto. Sentir a distância e o desabrigo para estar bem sob o próprio teto. <br>
            Um homem precisa viajar para lugares que não conhece para quebrar essa arrogância que nos faz ver o mundo como o imaginamos, e não simplesmente como é ou pode ser. Que nos faz professores e doutores do que não vimos, quando deveríamos ser alunos, e simplesmente ir ver.</p>

            
            <div class="cxFlex">
                {% block content %}
                <!-- <p class="tit1"> Cidades aderentes </p>
                <p class="signature">Amyr Klink</p> -->
                
                {% endblock %}
            </div>
        </section> <!-- fim da cxsite -->
        <footer>
            <p>O Projeto Camalheia é exclusivamente patrocinado por Durex Lda, Harmony SA e Control Lda</p>
        </footer>
	</body>
</html>

